<html ng-app="calculatorApp">

<head>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
</head>

<body ng-controller="CalculatorController">
  <header>
  </header>
  <div class="outer-cont">
    <div class="all-content">
      <div class='calc-container'>
        <p class='calc-name'>FreeCodeCamp</p>
        <p class="description">ELECTRONIC CALCULATOR</p>
        <div class="input-container">
          <input type="text" my-auto-focus ng-focus="true" ng-model="result" input ng-keyup="$event.keyCode == 13 && calculate()" ng-change="removeError()">
          <div class='error-display'>{{errorDisplay}}</div>
          </input>
        </div>
        </br>
        <div class="buttons-container">
          <button ng-repeat="key in keys" ng-click="removeError(); doOperation(key)">{{key}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
